<!-- <mat-card>
    <mat-card-header>
        <mat-card-title> Details for: {{plant.plantName}} <mat-icon> local_florist</mat-icon>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-card-title-group>
            <h3 mat-card-title>Eigenschappen:</h3>
            <mat-card-subtitle>
                <mat-list>
                    <mat-list-item *ngFor="let eigenschap of plant.eigenschappen">

                        <app-eigenschap [eigenschap]="eigenschap"> </app-eigenschap>
                    </mat-list-item>
                </mat-list>
            </mat-card-subtitle>
            <h3 mat-card-title>Verzorging:</h3>
            <mat-card-subtitle>
                <mat-list>
                    <mat-list-item *ngFor="let verzorging of plant.verzorgingen">
                        <app-verzorging [verzorging]="verzorging"> </app-verzorging>
                    </mat-list-item>
                </mat-list>
            </mat-card-subtitle>
            <mat-card-subtitle>Beschrijving: {{plant.beschrijving}}</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-content>
    <mat-card-footer> Added on: {{plant.dateAdded | date}}</mat-card-footer>
</mat-card> -->

<mat-card>
    <mat-form-field>
      <input
        matInput
        placeholder="Search"
        type="text"
        data-cy="plantFilterInput"
        [value]="filterPlantId"
      />
    </mat-form-field>
    <button mat-button (click)="onSearch()">Search</button>
    <!-- bij elke event gt waarde op stream en triggered alle elementen
            die subscribed zijn op die stream -->
  </mat-card>
  <div *ngIf="plant">
    <app-plant
    [plant]="plant"
    data-cy="plantCard"></app-plant>
  </div>