<mat-card>
    <mat-form-field>
      <input
        matInput
        placeholder="Search"
        type="text"
        data-cy="plantFilterInput"
        [value]="filterPlantId"
      />
    </mat-form-field>
    <button mat-button (click)="onSearch()">Search</button>
    <!-- bij elke event gt waarde op stream en triggered alle elementen
            die subscribed zijn op die stream -->
  </mat-card>
  <div *ngIf="plant">
    <app-plant
    [plant]="plant"
    data-cy="plantCard"></app-plant>
  </div>
  